@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');
#root {
  min-height: 100vh;
  height: auto;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
p .fw-semiBold {
  font-weight: 600;
}
p .fw-bold {
  font-weight: 700;
}

h1 {
  font-size: 3.052rem;
}

h2 {
  font-size: 2.441rem;
}

h3 {
  font-size: 1.953rem;
}

h4 {
  font-size: 1.563rem;
}

h5 {
  font-size: 1.25rem;
}

p {
  font-size: 1rem;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif !important;
  font-weight: 400;
  min-height: calc(100vh - 56px);
  height: calc(100vh - 56px);
}

.navbar {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000;
}

